/* UTILITIES */
.clearfix{
    content: "";
    display: table ;
    clear: both;
}
.rotate-90{
    transform: rotate(90deg);
}
.horizontal-line{
    border-bottom: 1px solid white;
    width: 100%;
    margin: 7px 0;
}
.flex-grow-1{
    flex-grow: 1;
}
.align-center-inline{
    vertical-align: middle;
    display: inline-block;
}
.padding{
    padding-left: 20px;
    padding-right: 10px;
}
.padding-right-none{
    padding-right: 0;
}
.little-margin-side{
    margin: 0px 7px;
}
.padding-top-btm{
    padding: 1px 1px;
}
.big-btn{
    font-size: 30px;
}

.fill-width{
    width: 100%;
}
.transparent{
    background-color: #ff00003d;
}
.selection-mark{
    position: absolute;
    left: 50%;
    height: 2px;
    width: 30px;
    background-color: #ADFF2F;
    transform: translateX(-50%);
    margin-top: 5px;
}
/* RESPONSIVENESS UTILITIES */
@media screen and (max-width:768px){
    .hidden-xs{
        display: none ;
    }
}
@media screen and (min-width:769px){
    .visible-xs{
        display: none;
    }
}