/* UTILITIES */
.clearfix{
    content: "";
    display: table ;
    clear: both;
}
.rotate-90{
    transform: rotate(90deg);
}
.horizontal-line{
    border-bottom: 1px solid white;
    width: 100%;
    margin: 10px 0;
}
.flex-grow-1{
    flex-grow: 1;
}
.align-center-inline{
    vertical-align: middle;
    display: inline-block;
}
.padding{
    padding-left: 20px;
    padding-right: 10px;
}
.padding-right-none{
    padding-right: 0;
}
.little-margin{
    margin: 0px 7px;
}
.big-btn{
    font-size: 25px;
}
.fill-width{
    width: 100%;
}
/* RESPONSIVENESS UTILITIES */
@media screen and (max-width:768px){
    .hidden-xs{
        display: none ;
    }
}
@media screen and (min-width:769px){
    .visible-xs{
        display: none;
    }
}