  /* RESPONSIVENESS */
  @media screen and (max-width:768px){
    body{
        background-color: black;
    }
    .sidebar{
        width: auto;
        padding: 5px;
    }
    .padding{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebar .selected{
        border: none;
    }
}
@media screen and (max-width: 500px){
    .controls{
        display: none;
    }
}