*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* SELETTORI DI TAG */
html{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    
}
nav{
    background-color: #282828;
    height: 80px;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
}
main{
    display: flex;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar-track {
    background: black;
}
/* ASIDE / SIDEBAR*/
aside{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px;
    height: calc(100vh - 80px);
    padding: 25px 15px 15px 0px;
    color: ghostwhite;
    position: relative;
}
aside img, aside .fa{
    font-size: 30px;
    vertical-align: middle;
    color: #666666;
    width: 25px;
    height: 25x;
}
aside .logo{
    margin-bottom: 15px;
    padding-left: 25px;
    width: 80%;
}
aside ul{
    list-style: none;
}
aside li{
    margin: 17px 0;
}
aside a{
    font-size: 12px;
    color: #949494;
    font-weight: 500;
}
.playlist{
    overflow-y: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
aside .playlist{
    flex-grow: 2;
}
aside h3{
}
aside .fa{
    font-size: 40px;
}
.artist-photo{
    display: inline-block;
    background-color: #666666;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.artist-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.artist-name{
    font-weight: 600;
}
.crea-playlist{
    font-size: 15px;
    margin-left: 15px;
}
aside .selected{
    border-left: 4px solid #adff2f
}
/* CONTENTS */
.contents{
    background-color: #141922;
    height: calc(100vh - 80px);
    width: 100%;
}
.top-bar{
    background-color: #080b12;
    width: 100%;
    padding: 20px;
}
.top-bar a{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 35px;
    float: right;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }