*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* SELETTORI DI TAG */
html{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    
}
nav{
    background-color: #282828;
    height: 80px;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    z-index: 6;
    width: 100%;
    color: white;
}
h2{
    margin-bottom: 5px;
}
section{
    padding: 15px 25px;
    color: white;
}
a{
    color: #949494;
    text-decoration: none;
}
a:hover{
    color: white;
}
h3{
    font-size: 13px;
}
li{
    list-style-type: none;
}
main{
    position: relative;
    background-color: #141922;
    width: 100%;
}
/* LAYOUT */
.flex-layout{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 80px);
}
/* NAV / PLAYER */
.playing, .player, .controls{
    padding: 10px 0px;
    flex-grow: 1;
}
/* CURRENTLY PLAYING SONG */
.playing .album{
    font-size: 13px;
    font-weight: 200;
}
.playing{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.playing img{
    width: 37px;
    height: 37px;
}
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.player-buttons{
    width: 250px;
    text-align: center;
}
.player-buttons .fa{
    margin: 0px 10px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.controls .fa{
    font-size: 12px;
}
.bar-track{
    background-color: #535353;
    width: 75%;
    height: 5px;
    border-radius: 4px;
}
.bar{
    width: 30%;
    height: 100%;
    background-color: #b3b3b3 ;
    position: relative;
}
.audio-bar{
    min-width: 50px;
    max-width: 100px;
}
.progress{
    text-align: center;
}
.min-sec{
    font-size: 12px;
    font-weight: 200;
}
.cursor{
    width: 15px;
    height: 15px;
    float: right;
    transform: translateY(-40%);
    background-color: white;
    border-radius: 50%;
    z-index: 4;
    display: none;
}
.big-btn:hover{
    transform: scale(1.4,1.4);
}
/* ASIDE / SIDEBAR*/
.sidebar{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    flex-basis: 250px;
    padding: 25px 15px 15px 0px;
    color: ghostwhite;
    top: 0;
    bottom: 70px;
    z-index: 6;
}
aside img, aside .fa{
    font-size: 30px;
    vertical-align: middle;
    width: 25px;

}
aside .logo{
    margin-bottom: 15px;
    padding-left: 25px;
    width: 80%;
}
aside ul{
    list-style: none;
}
aside li{
    margin: 17px 0;
}
aside a{
    font-size: 12px;
    font-weight: 500;
}
aside .playlist{
    flex-grow: 2;
}
aside .fa{
    font-size: 40px;
}
.fa-plus-square{
    margin-right: 10px;
}
.artist-photo{
    display: inline-block;
    background-color: #666666;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.artist-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.artist-name{
    font-weight: 600;
}
aside .selected{
    border-left: 4px solid #adff2f
}
/* CONTENTS */
.central-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.top-bar{
    background-color: #080b12;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 70px;
    max-height: 70px;
    z-index: 5;
    position:fixed;
    top:0;
    right: 0;
    width: 100%;
}
.top-bar a{
    font-size: 12px;
    font-weight: 500;
    padding: 10px 35px;
    color: white;
    border: 1px solid white;
    white-space:nowrap;
    border-radius: 20px;
    transform: scale(0.9,0.9);
}
.contents-nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    line-height: 30px;
    margin-top: 70px;
}
.contents-nav-bar li{
    font-size: 13px;
    margin: 0 15px;
    font-weight: 500;
    position: relative;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.proposal{
    padding: 20px 25px 5px 0px;
    text-align: center;
    flex-basis: calc(100% / 6);
    max-width: 250px;
    max-height: 300px;
}

.proposal a{
    position: relative;
    display: flex;
    align-items: center;
}
.proposal a i{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: white;
    z-index: 6;
}
.proposal a:hover i{
    display: inline-block;
}
.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #0000006c;
}
.proposal a:hover .overlay{
    display: inline-block;
}
.proposal h3{
    margin: 5px;
}
.subtitle{
    color: #797C80;
    font-weight: 500;
}
/* HOVER */
.bar-track:hover .cursor{
    display: block;
}
.bar-track:hover .bar{
    background-color: #1db954;
}
.big-btn:hover{
    font-size: 27px;
}
.top-bar a:hover{
    transform: scale(1,1);
}
.crea-playlist:hover  a{
    color: white;
}
/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* UTILITIES */
.clearfix{
    content: "";
    display: table ;
    clear: both;
}
.position-fixed{
    position: fixed;
}
.rotate-90{
    transform: rotate(90deg);
}
.horizontal-line{
    border-bottom: 1px solid white;
    width: 100%;
    margin: 7px 0;
}
.flex-grow-1{
    flex-grow: 1;
}
.align-center-inline{
    vertical-align: middle;
    display: inline-block;
}
.padding{
    padding-left: 20px;
    padding-right: 10px;
}
.padding-right-none{
    padding-right: 0;
}
.little-margin-side{
    margin: 0px 7px;
}
.little-margin-top{
    margin: 10px 0;
}
.padding-top-btm{
    padding: 1px 1px;
}
.big-btn{
    font-size: 30px;
}

.fill-width{
    width: 100%;
}
.transparent{
    background-color: #ff00003d;
}
.selection-mark{
    position: absolute;
    left: 50%;
    height: 2px;
    width: 30px;
    background-color: #ADFF2F;
    transform: translate(-50%,-100%);
}
.scroll-y{
    overflow-y: scroll;
    overflow-x: hidden;
}
.circled{
    border-radius: 50%;
}
/* RESPONSIVENESS UTILITIES */
@media screen and (max-width:768px){
    .hidden-xs{
        display: none ;
    }
}
@media screen and (min-width:769px){
    .visible-xs{
        display: none;
    }
}
 /* RESPONSIVENESS */
 @media screen and (max-width:768px){
    body{
        background-color: black;
    }
    .sidebar{
        flex-basis: auto;
        padding: 5px;
    }
     .padding{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebar .selected{
        border: none;
    }
    .padding-top-btm{
        padding: 10px 0;
    }
}
@media screen and (max-width: 500px){
    .controls{
        display: none;
    }
}
@media screen and (max-height: 380px){
    .sidebar{
        z-index: -1;
    }
}
/* CONTENTS RESPONSIVENESS */
@media screen and (max-width: 1023px) and (min-width: 900px){
    .proposal{
        flex-basis: calc(100% / 4);
    }
}
@media screen and (max-width: 899px){
    .proposal{
        flex-basis: calc(50%);
    }
}